body.dt-home {
  background-color:rgb(255, 255, 255);
}

nav.dt-sticky {
  position:sticky;
  top:0;
  z-index:10;
}

a.dt-top-home-link:link {
  font-size:2em;
  text-decoration:none;
  background-color:transparent;
  color: rgb(51, 51, 51);
}

a.dt-top-home-link:visited {
  font-size:2em;
  text-decoration: none;
  background-color: transparent;
  color: rgb(51, 51, 51);
}

a.dt-top-home-link:hover {
  font-size:2em;
  text-decoration: none;
  background-color: transparent;
  color: rgb(85, 0, 182);
}

a.dt-top-home-link:active {
  font-size:2em;
  text-decoration: none;
  background-color: transparent;
  color: rgb(85, 0, 182);
}

strong.dt-logo-font {
  
}