/* CSS Loader */
.sk-folding-cube-wrapper {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgb(223, 223, 223);
  z-index:999999;
}

.sk-folding-cube {
  position: absolute;
  top:40%;
  left:47%;
  width:7em;
  height:7em;
  -webkit-transform:rotateZ(45deg);
          transform:rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float:left;
  width:50%;
  height:50%;
  position:relative;
  -webkit-transform:scale(1.1);
      -ms-transform:scale(1.1);
          transform:scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgb(51, 51, 51);
  -webkit-animation:sk-foldCubeAngle 2.4s infinite linear both;
          animation:sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin:100% 100%;
      -ms-transform-origin:100% 100%;
          transform-origin:100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform:scale(1.1) rotateZ(90deg);
          transform:scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform:scale(1.1) rotateZ(180deg);
          transform:scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform:scale(1.1) rotateZ(270deg);
          transform:scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay:0.3s;
          animation-delay:0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay:0.6s;
          animation-delay:0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay:0.9s;
          animation-delay:0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform:perspective(140px) rotateX(-180deg);
            transform:perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform:perspective(140px) rotateX(0deg);
            transform:perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform:perspective(140px) rotateY(180deg);
            transform:perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform:perspective(140px) rotateX(-180deg);
            transform:perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform:perspective(140px) rotateX(0deg);
            transform:perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform:perspective(140px) rotateY(180deg);
            transform:perspective(140px) rotateY(180deg);
    opacity:0;
  }
}

/* Body */
body.dt-home {
  background-color:rgb(223, 223, 223);
}

/* Top Logo */
.dt-top-logo {
  text-align:center;
  font-size:2em;
  font-weight:bold;
}

.dt-unchanged-logo-part {
  color:rgb(51, 51, 51);
}

/* Top Logo Link */
a.dt-top-link:link, a.dt-top-link:visited {
  text-decoration:none;
  background-color:transparent;
  color:rgb(51, 51, 51);
}

a.dt-top-link:hover, a.dt-top-link:active {
  text-decoration:none;
  background-color:transparent;
  color:#0074d9;
}

/* Top Logo Quote */
.dt-top-logo-quote {
  text-align:center;
}

/* Language */
.langGr {
  display:none;
}

.langEng {
  display:initial;
}

/* Navbar Buttons */
.dt-navbar-buttons {
  margin-right:0.5em;
  margin-left:0.5em;
}

#dt-display-name-button {
  display:none;
}

#dt-register-button {
  display:initial;
}

/* Navbar Form */
.dt-navbar-dropdown-form-width {
  width:15em;
}

.dt-signin-dropdown-info {
  margin:1.5em;
}

#dt-debug-console-toggler {
  display:none;
}

#dt-go-to-control-panel-button {
  display:none;
}

/* Registration Form */
#dt-registration-form {
  width:20%;
}

#dt-sign-up-button {
  width:100%;
}

#dt-reg-form-error-box, #dt-reg-form-username-empty-error, #dt-reg-form-email-empty-error,
#dt-reg-form-password-empty-error, #dt-reg-form-display-name-empty-error,
#dt-reg-form-password-mismatch-error, #dt-reg-form-username-exists-error,
#dt-error-box-header, #dt-unknown-fatal-error {
  display:none;
}

/* Dev Mode Badge */
#dt-dev-mode-badge {
  display:none;
}

#dt-dev-mode-overlay {
  display:none;
  width:100%;
  height:100%;
  z-index:10000;
  position:fixed;
  top:0;
  left:0;
  background-color:rgba(0, 0, 0, 0.5);
}

#dt-dev-mode-overlay-box {
  position:absolute;
  width:30%;
  height:40%;
  background-color:rgb(223, 223, 223);
  border:0.1em solid #f0ac4e;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  overflow:auto;
}

#dt-dev-mode-overlay-x {
  position:absolute;
  top:1%;
  right:1%;
}

#dt-dev-mode-overlay-box-options {
  position:absolute;
  overflow:auto;
  width:auto;
  height:auto;
  top:15%;
  margin:5%;
  text-align:center;
}

/* Main Tool Window */
#dt-main-tool-window {
  position:absolute;
  overflow:auto;
  width:90%;
  height:auto;
  text-align:center;
  /* left:5%; */
  top:20%;
  bottom:0;
  border:0.1em solid rgba(0, 0, 0, 0.5);
}

/* Control Panel */
#dt-control-panel-options-box {
  
}

.dt-control-panel-boxes {
  border:0.1em solid rgba(0, 0, 0, 0.5);
  padding:1em;
  width:100%;
  overflow:auto;
}

#dt-upload-kml-map {

}

#dt-load-kml-map {
  
}

#dt-control-panel-map {
  margin-right: 0em;
  padding: 1em;
  height:100%;
  overflow:hidden;
}

#dt-control-panel-load-button {
  width:100%;
}

#dt-control-panel-delete-button {
  width:100%;
}

#dt-control-panel-set-button {
  width:100%;
}
